.dino{
    width: 60px;
    height: 60px;
    background-image: url(./dino.png);
    position: absolute;
    bottom:0;

}
body:not(:hover) {
background-color: #fff;


}

.cactus{
position: absolute;
width: 60px;
height: 60px;
bottom: 0;
background-image: url(./cactus.png);
}
@keyframes slideright {
    from{
        background-position: 70000%;
    } to {
        background-position: 0%;
    }
}

.background{
position: absolute;
bottom:0;
background-repeat: repeat-x;
background-image: url(background.png);
animation: slideright 800s infinite linear;
width: 100%;
height: 200px;
}

.fim{
     display: flex;
     flex-direction: column;
     margin-top: 250px;
     
     
     font-family: arial;
    text-align: center;
   background-color: red;
        color: #fff;
}